<section id="team" class="team">
<div class="content-wrapper">

<div class="col-lg-10 col-lg-offset-1"></div>

<div class="col-lg-10 col-lg-offset-1">
<h4>College accommodation</h4>
<p align='left'>We are happy to announce that we will be offering <strong>183</strong> of our attendees the opportunity to book accommodation at two University of Cambridge colleges for the nights of <strong>26th and 27th June 2019</strong>. The deadline to register for this opportunity is <strong>1st April 2019</strong>. The places will be offered on a first-come basis to the first attendees that register for the symposium and make the payment for their accommodation. We encourage you to consider this accommodation option because it is a unique opportunity! In addition, given that the city of Cambridge receives thousands of visitors each summer, the availability of accommodation in the city during the dates of the symposium is likely to be low and prices will be high.</p>
<p align='left'>More information about the colleges and the places on offer can be found below:</p>
<h6 align='left'>Clare College</h6>
<p align='left'>Clare College is the second oldest college at the University, features 15th century architecture, stunning gardens and is conveniently located in central Cambridge. Clare College will be able to accommodate 133 attendees in 43 en-suite single rooms (each room for £94.80 per night including VAT) and 45 en-suite twin rooms (each room for £118.80 per night including VAT; £59.40 per night per person).</p>
<p align='left'>Click below to book one of the rooms in Clare College. There is no need to enter an event code.</p>
<p><br></p>
<p align='center'><a href="https://clareconferencing.com/bed-breakfast-cambridge/" class="btn-primary waves-effect waves-button waves-light waves-float" target="_blank">Clare College</a></p>
<h6 align='left'>Churchill College</h6>
<p align='left'>Churchill College is the national and Commonwealth memorial to Sir Winston Churchill, Britain’s great wartime Prime Minister. It is a college with a track record of excellence and 32 of its members have been awarded with a Nobel Prize. Churchill College will be able to accommodate 50 attendees in 50 single rooms with shared bathrooms (each room for £55 per night including VAT).</p>
<p align='left'>Click below to book one of the rooms in Churchill College. There is no need to enter an event code.</p>
<p><br></p>
<p align='center'><a href="https://www.chu.cam.ac.uk/conferences/services/bandb/" class="btn-primary waves-effect waves-button waves-light waves-float" target="_blank">Churchill College</a></p>

<p><br></p>

<h4>Hotels and B&B</h4>
<p align='left'>Unfortunately, besides the above-mentioned college accommodation options, we are not able to book other accommodation alternatives for our delegates. We invite you to consult the following websites of some booking agencies that may be of help to find hotels and B&Bs in Cambridge.</p>
<ul style='text-align:left'>
  <li><strong><a href="https://www.visitcambridge.org/accommodation" target="_blank">Visit Cambridge</a></strong></li>
  <li><strong><a href="https://www.universityrooms.com/en-GB/city/cambridge/home" target="_blank">Cambridge Rooms</a></strong></li>
  <li><strong><a href="https://www.accommodation.cam.ac.uk/VisitingCambridge/Listings.aspx" target="_blank">University of Cambridge accommodation</a></strong></li>
  <li><strong><a href="https://www.booking.com/searchresults.en-gb.html?city=-2591658">Booking.com</a></strong></li>
</ul>
<p align='left'>Some accommodation options in Cambridge (such as hotels and hostels) are included below:</p>
<ul style='text-align:left'>
  <li><strong><a href="https://www.arundelhousehotels.co.uk" target="_blank">Arundel House Hostel Cambridge</a></strong></li>
  <li><strong><a href="https://www.thetamburlaine.co.uk" target="_blank">The Tamburlaine</a></strong></li>
  <li><strong><a href="https://www.yha.org.uk/hostel/yha-cambridge?startDate=&endDate=&males=0&females=0&malesChild=0&femalesChild=0&malesChildAges=&femalesChildAges=" target="_blank">YHA</a></strong></li>
  <li><strong><a href="https://www.wyndhamhotels.com/en-uk/ramada/cambridge-united-kingdom/ramada-cambridge-uk/overview">Ramada</a></strong></li>
  <li><strong><a href="https://www.travelodge.co.uk/search/results?location=Cambridge%2C+Cambridgeshire&lat=&long=&action=search&source=l&checkIn=&rooms%5B0%5D%5Badults%5D=1&rooms%5B0%5D%5Bchildren%5D=0" target="_blank">Travelodge</a></strong></li>
</ul>
</div>
</div>
</section>
