<section id="team" class="team">
<div class="content-wrapper">

<div class="col-lg-10 col-lg-offset-1"></div>

<div class="col-lg-10 col-lg-offset-1">

<h4>Mexican Feminism in Protest</h4>
<p align='left'><em>Photography</em></p>
<div class="flex-container">
  <p align='left'>
  <img src="https://raw.githubusercontent.com/guizar/symposiummx19/gh-pages/img/art-exhibition/downing-exhibition-poster.jpg" alt="">
</p>
</div>
<p align='left'><strong>Mónica
Lindsay-Pérez</p>

<br>

<h4>The World Over</h4>
<p align='left'><em>Photography</em></p>
<div class="flex-container">
  <p align='left'>
  <img src="https://raw.githubusercontent.com/guizar/symposiummx19/gh-pages/img/art-exhibition/santiago-navarro-photo.jpg" alt="">
</p>
</div>
<p align='left'><strong>Santiago Navarro</strong><br>
<p align='left'><em>Though we travel the world over to find the beautiful, we must carry it with us, or we find it not.</em> Ralph Waldo Emerson.</p>
<p align='left'>Santiago is a visual artist based in Florence, Italy. Born in Mexico in 1991, he studied and graduated at the Fine School of Arts "La Esmeralda" in Mexico City.</p>

<br>

<h4>The Wall</h4>
<p align='left'><em>Sculpture</em></p>
<div class="flex-container">
  <p align='left'>
  <img src="https://raw.githubusercontent.com/guizar/symposiummx19/gh-pages/img/art-exhibition/rafael-morales-photo.jpg" alt="">
</p>
</div>
<p align='left'><strong>Rafael Morales</strong><br>
<p align='left'>These miniature walls seek to identify and represent the reader in Mexico, as well as to problematise and reflect on the quantity and quality of what is individually and collectively read in relation to other subjects and nations.</p>
<p align='left'>Rafael is a Mexican artist based in London and works on book arts, cultural management, and editorial design.</p>

<br>

<h4>Chamanas</h4>
<p align='left'><em>Photography</em></p>
<div class="flex-container">
  <p align='left'>
  <img src="https://raw.githubusercontent.com/guizar/symposiummx19/gh-pages/img/art-exhibition/mariaura-gael-photo.jpg" alt="">
</p>
</div>
<p align='left'><strong>Mariaura Gael</strong><br>
<p align='left'>A "chamana" is a spiritual person that can cure with energy and natural medicine. In Mexico, this practice is usually led by women to forecast the future and give advice.</p>
<p align='left'>
Mariaura graduated with a BA in Fashion Design from the University of Guadalajara, and works independently as a fashion stylist since 2011.</p>

<br>

<h4>El Susto</h4>
<p align='left'><em>Documentary</em></p>
<div class="flex-container">
  <p align='left'>
  <img src="https://raw.githubusercontent.com/guizar/symposiummx19/gh-pages/img/art-exhibition/karen-atkins-photo.jpg" alt="">
</p>
</div>
<p align='left'><strong>Karen Atkins</strong><br>
<p align='left'>Mexico’s Number One Killer is not cartels: it’s Type 2 Diabetes. <em>El Susto</em> tells the story of how public health activists in Mexico stirred agiant when they took action to curb the devastating impact on Mexicans of Big Soda, with sobering and inspiring lessons for the rest of the world.</p>

</div>
</div>
</section>
