<section id="team" class="team">
<div class="content-wrapper">

<div class="col-lg-10 col-lg-offset-1">
</div>

<div class="col-lg-10 col-lg-offset-1">
<!-- <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Registration</h4> -->

<p align='left'>There are no fees for registering and attending the Symposium, however bear in mind that each participant is responsible for making their transportation and accommodation arrangements.</p>
<p align='left'>We encourage you to book your accommodation with sufficient anticipation, as early as the end of March. Cambridge receives many tourists, particularly in June, and accommodation can be very expensive if you leave it to the end. It may be more difficult to find affordable accommodation in June.</p>
<p align='left'>Have a look at the early accommodation booking in our <a href="https://www.symposiummx.com/accommodation/">accommodation</a> section, where you will be able to book rooms in colleges directly. We have provisionally reserved these rooms for the first <strong>183</strong> students who register and pay for them before 1st April. If you book one of this rooms you will not only be able to live a truly authentic experience in Cambridge colleges, but will also receive a preferencial fee due to a student discount given to members of the Colleges.</p>

<p><br></p>
<p align='center'><a href="https://www.eventbrite.com/e/xvii-symposium-of-mexican-studies-and-students-in-the-uk-tickets-58300972779#tickets" class="btn-primary waves-effect waves-button waves-light waves-float" target="_blank">Click here to register</a></p>
</div>
</div>
</section>
